@{
    ViewData["Title"] = "Index";
}

<h3 style="width: 50%; margin: auto; text-align: center; margin-top: 20px;">Coded MVC Task</h3>
<div style="width: 50%; margin: auto; text-align: center; margin-top: 20px;">
    <a asp-action="Register" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Register</a>
    <a asp-action="Registerconf" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Register with confirm</a>
    <a asp-action="Login" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Login</a>
    <a asp-action="Loginv" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Login with view model</a>
</div>
