@{
    ViewData["Title"] = "Index";
}



<h3 style="width: 50%; margin: auto; text-align: center; margin-top: 20px;">Coded MVC Task</h3>
<div style="width: 50%; margin: auto; text-align: center; margin-top: 20px;">
    <a asp-action="Register" class="btn btn-primary btn-lg" style="margin-right: 20px;">Register</a>
    <a asp-action="Login" class="btn btn-primary btn-lg">Login</a>
</div>
